* {
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: ChopinScript;
    src:url(./fonts/ChopinScript.otf)
}
@font-face {
    font-family: BlackSword;
    src:url(./fonts/Blacksword.otf)
}
@font-face {
    font-family: King;
    src:url(./fonts/King.ttf)
}
@font-face {
    font-family: nav1;
    src:url(./fonts/SrabiScript.ttf)
}
@font-face {
    font-family: nav2;
    src:url(./fonts/Thinking_of_Betty.ttf)
}
@font-face {
    font-family: nav3;
    src:url(./fonts/TrushmeScript.ttf)
}


/* Header */
.headerBackground {
    background-image: url("./images/thisFlower.png");
    background-size: 150%;
    background-position: -50% 25%;
    background-repeat: no-repeat;
    height: 300px;
} 
.headerTitle1 {
    opacity: .95;
    font-size: 70px;
    font-family: ChopinScript;
    padding-left: 8px;
    padding-top: 50px;

}
.headerTitle2 {
    opacity: .95;
    font-size: 70px;
    font-family: ChopinScript;
    padding-left: 85px;
}
.navToggle {
    font-size: 35px;
    margin: 10px;
}
.navBarBaseClass {
    transition: .5s;
    width: 90%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:#430064c5;
    overflow-x: hidden;
    padding-bottom: 30px;
    border-bottom-right-radius: 40px;
    border-bottom: 4px double gold;
    /* border-right: 1px double gold; */
    box-shadow: 7px 10px 15px 0px #000000;
}
.navBarShown {
    width: 90%;
}
.navBarHidden {
    width: 0;
}
.navBarLinks {
    display: flex;
    flex-direction: column;
}
.navBarLinks > a {
    text-decoration: none;
    flex: 1;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-family: nav1;
    font-size: 35px;
    text-shadow: 1px 8px 7px black;
}

/* Home  */
.bodyBackground {
    background-image: url("./images/sacred_geometry_png_1194283.png");
    background-color: #bb32ff;
    background-size: 150%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 120% 0%;
    box-shadow: inset 0px 0px 35px 0px black;
}
.homeBorder {
    padding: 20px;
}
.homeContainer {
    padding: 15px;
    border: 1px solid black;
    background-color: rgba(255, 255, 0, 0.7);
    border-radius: 5px;
}
